# ACR 설정
ACR_LOGIN_SERVER=your_acr_login_server
ACR_REPO_NAME_BACKEND=your_acr_repo_name_backend
ACR_REPO_NAME_FRONTEND=your_acr_repo_name_frontend

# Kubernetes 설정
K8S_NAMESPACE=test

MYSQL_HOST=test-mariadb
MYSQL_USER=test
MYSQL_PASSWORD=password
MYSQL_DBNAME=test-db
REDIS_HOST=test-redis
REDIS_PASSWORD=password
KAFKA_SERVERS=test-kafka
KAFKA_USERNAME=test
KAFKA_PASSWORD=password
FLASK_SECRET_KEY=password