# ACR 설정
ACR_LOGIN_SERVER=your_acr_login_server
ACR_REPO_NAME_BACKEND=your_acr_repo_name_backend
ACR_REPO_NAME_FRONTEND=your_acr_repo_name_frontend

# Kubernetes 설정
K8S_NAMESPACE=your_k8s_namespace
DB_SECRET_NAME=your_db_secret_name
